workspace/
__pycache__/
build/
*.egg-info/
*.so
venv_*/
.vs/
.vscode/
.idea/
.deepspeed_env

tmp_*
data?
data??
data

logs
# videos
images
*.rrd

vis_data*/
logs*/

.cache/
pretrained
data/
diffusers/
*.pkl
*.pt
results/
output*/
log*

training/

tmp/

dataset/

Wan2.1-I2V-14B-480P-Diffusers/

checkpoints/
# 24GB repro run logs
egox_e2e_*.log
